[submodule "lib/RapidJSON"]
	path = lib/RapidJSON
	url = https://github.com/Tencent/rapidjson
[submodule "lib/RxCpp"]
	path = lib/RxCpp
	url = https://github.com/ReactiveX/RxCpp
[submodule "lib/nunchuck-adapter"]
	path = lib/nunchuck-adapter
	url = https://github.com/mattigabo/nunchuck-adapter.git
